[email_group_manager.google_sdk]
defaultUser = ""
privateGroupUser = ""
publicGroupUser = ""

[email_group_manager.google_sdk.config]
audience = "https://oauth2.googleapis.com/token"
certPath = ""
issuer = ""
keyAlias = ""
keyPassword = ""
password = ""
scopes = ""
subject = ""

[email_group_manager.entity]
hrEntityEndpoint = ""

[email_group_manager.entity.clientAuthConfig]
clientId = ""
clientSecret = ""
tokenUrl = ""

[email_group_manager.utils]
adminRole = ""
emailDomain = "wso2support.com"
